
/bin/
main2.py
dictionary_cache.json
/build/
/dist
/main.spec
dictionary_cache.json
testmain.py
testnltk.py
testnltkwordnet.py
wiktionaryextract.py
dictionary_cache.json
ababab.json
dictionary_cache.json
dictionary_cache.json
main2.spec
.vscode/settings.json
